# 根目录的 EditorConfig 文件
root = true

[*]
charset = gb2312
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,ts,jsx,tsx}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false